<div class="post">
  <%= content_tag :h1, @post.title %>
  <%= raw textilize(coderay(@post.post)) %>
  <%= link_to "Delete", post_path(@post), :method => :delete %>
  <span><%= @post.posted_at %></span>
</div>
